/* AppComponent's private CSS styles */
body {
  margin: 0;
}

h2 {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  color: white;
  font-size: 24px;
  line-height: 20pt;
}

.sidenav {
  width: 175px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #2c3a41;
  overflow-x: hidden;
  padding: 8px 0px 0px 20px;

}

.sidenav nav {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.sidenav a {
  padding: 8px 8px 8px 12px;
  text-decoration: none;
  color: #FFF;
  font: 16px "Zen Kaku Gothic Antique";
  font-size: 1.0rem;
}

.sidenav a:hover {
  color: lightgray;
}

.main {
  display:grid;

}

.page-content {
  margin-left: 175px;
  padding: 0px 20px;
}

.messages {
  margin-left: 175px;
}


