<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@400;900&display=swap" rel="stylesheet">

<header id="sideNav" class="sidenav">
  <nav>
    <h2>{{title}}</h2>
    <a routerLink="/review-loans">Review Loans</a>
    <a routerLink="/approved-loans">Approved Loans</a>
    <a routerLink="/heroes">Heroes</a>
    <a routerLink="/dashboard">Dashboard</a>
  </nav>
</header>

<div class="page-content">
  <router-outlet></router-outlet>
</div>
<div class="messages">
  <app-messages></app-messages>
</div>
