# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

venv/

*.pyc
__pycache__/
instance/
.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

# intellij stuff
*.iml
.idea/

#firestore key
firestore_key.json
firestore.rules
firebase.json
firestore.indexes.json
storage.rules
.firebaserc

